@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Marvel', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    background-color: rgb(57,57,57);
}

.header{
    width: 100%;
    height: 100vh;
    background: url('../img/avengers.jpg') center / cover no-repeat;
}
.header::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(30, 0,0), transparent);
    z-index: 2;
}
.header-blackout{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(20, 0, 0, 0.7);
    top: 0;
}
.top-header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s;
}
.fixedHeader:hover{
    height: 100px;
}
.fixedHeader{
    position: fixed;
    height: 70px;
    top: 0;
    border-bottom: 1px solid rgb(57,57,57);
    background-color: rgb(32,32,32);
    transition: 0.3s;
    z-index: 100;
}

.top-header-div-2{
    height: 100%;
    width: 40%;
}
.top-header-div-2 ul{
    width: 100%;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
}
.top-header-div-2 ul li a{
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
.top-header-div-3{
    width: 10%;
    height: 90%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-header-div-3 img{
    width: 90%;
    transition: 0.3s;
    cursor: pointer;
}

.redHover{
    transition: 0.3s;
}
.redHover:hover{
    color: rgb(240,20,30);
}

.bottom-header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-header-inline{
    position: relative;
    width: 70%;
    min-height: 40%;
    max-height: 70%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.7);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-right: 2rem;
    transition: 0.3s;
}
.header-inline-1{
    width: 50%;
    height: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
}
.header-inline-1 p{
    color: white; 
    font-size: 24px;  
    line-height: 1.5;
}
.header-inline-2{
    width: 50%;
    height: 270px;
    background: url('../img/intro.gif') center / cover;
    border: 2px inset rgba(160, 160, 160, 0.7);
}

/* MOVIES */
.movies, .characters{
    width: 100%;
    min-height: 20vh;
    position: relative;
    background: url('../img/stars-backgound.png') top / cover no-repeat;
    z-index: 1;
}
.movies::before, .characters::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 0, 0, 0.91);
    z-index: 3;
}
.movies>*{
    color: white;
}
.movies::after, .characters::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(30, 0,0,0.7), transparent);
    z-index: 2;
}
.title{
    position: relative;
    width: 100%;
    height: 50px;
    z-index: 50;
}
.title h1{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 50px;
    color: white;
    text-align: center;
}
.movies-container{
    position: relative;
    padding-top: 1rem;
    width: 100%;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    z-index: 5;
    align-items: center;
}
.movie{
    width: 90%;
    min-height: 50vh;
    display: flex;
    align-items: center;
}
.movie-left-parent{
    position: relative;
    width: 20%;
    height: 50vh;
    margin-right: 2rem;
    transition: 0.5s;
    overflow: hidden;
}
.movie-left{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.movie-left-parent:hover .movie-left{
    transform: scale(1.2);
}
.movie-right{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: flex-start;
    min-height: 50vh;
    position: relative;
}
.movie-header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.movie-header h4{
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}
.movie-main{
    width: 100%;
    height: 100%;
}
.movie-main ul{
    list-style-type: none;
    padding: 0;
}
.movie-right ul li{
    margin-bottom: 1rem;
    font-size: 20px;
}
.movie-right ul li span{
    color: #f0141e;
    font-weight: 700;
    font-style: italic;
}
hr{
    border-bottom: 1px solid rgb(57,57,57);
    width: 90%;
    margin: 2rem 0;
}

.characters{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    position: relative;
    padding-top: 5rem;
    width: 90%;
    min-height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 5;
}

.card{
    position: relative;
    width: 400px;
    height: 600px;
    border: 1px solid rgb(57,57,57);
    background-color: rgb(40,40,40, 0.5);
    margin-bottom: 3rem;
    box-shadow: 0px 0px 4px rgba(20, 0, 0, 0.7);

}
.card-title{
    width: 100%;
    height: 10%;
}
.card-title p{
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
}
.card-image{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    overflow: hidden;
}
.card-image img{
    width: 400px;
    height: 400px;
    transition: 0.5s;
}
.card-image img:hover{
    transform: scale(1.1);
}
.card-body{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: none;
    margin-bottom: 1.5rem;
    transition: 0.5s;
}
.moreBtn{
    font-size: 18px;
    color: white;
    padding: 1rem 1.5rem;
    border: 1px solid rgb(57,57,57);
    text-transform: uppercase;
    outline: none;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}
.moreBtn:hover{
    background-color: rgb(32,32,32, 0.5);
}

.movies-sort-block{
    position: relative;
    z-index: 5;
    margin: 3rem 5%;
}
.movies-sort-block h3{
    font-size: 26px;
    text-transform: uppercase;
}
#sortMovie{
    width: 200px;
    background: none;
    color: white;
    font-size: 24px;
    border: 1px solid rgb(255,255,255);
    border-radius: 10px;
    font-weight: 400;
    outline: none;
    font-family: 'Marvel', sans-serif;
    overflow: hidden;
}
.sortMovie option{
    padding: 0.625rem 1rem;
    width: 100%;
    background: transparent;
    color: white;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Marvel', sans-serif;
    transition: 0.3s;
    cursor: pointer;
}
.sortMovie option:hover{
    background-color: rgb(60,60,60);
}
.option{
    border-bottom: 1px solid white;
}
.search-div{
    position: relative;
    z-index: 5;
    margin-top: 5rem;
}
.searchInput{
    background: transparent;
    color: white;
    font-size: 16px;
    padding: 1rem 1.5rem;
    border: 1px solid rgb(200, 200, 200);
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(170, 170, 170);
}

.pagination{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    margin-bottom: 5rem;
    margin-top: 2rem;
}
.pagination-block{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.prevBtn, .nextBtn{
    position: relative;
    border: 1px solid white;
    outline: none;
    background: transparent;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    font-size: 24px;
    font-weight: 300;
}
.prevBtn:hover, .nextBtn:hover{
    background-color: rgb(60,60,60, 0.7);
}
.page{
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.pagination-block span{
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.disabled{
    opacity: 0.5;
    cursor: unset;
}
.disabled:hover{
    background-color: transparent;
}


/* Adaptive layout */


@media screen and (max-width: 1200px){
    .header-inline-1 p {
        font-size: 20px;
    }
    .movie-left {
        width: 100%;
        height: 90%;
    }
}
@media screen and (max-width: 1000px){
    .movie-left-parent{
        width: 30%;
    }
    .movie-left{
        width: 100%;
    }
}
@media screen and (max-width: 900px){
    .bottom-header-inline{
        width: 85%;
    }
    .header-inline-1 p {
        font-size: 18px;
    }
}
@media screen and (max-width: 700px){
    .title h1{
        font-size: 35px;
    }
    .movies-sort-block h3{
        font-size: 20px;
    }
    .sortMovie option{
        font-size: 18px;
    }
    .movie-left-parent {
        width: 50%;
    }
    .movie-right ul li {
        font-size: 16px;
        margin-bottom: 0.625rem;
    }
    .movie-left{
        height: 100%;
    }
    .bottom-header-inline{
        width: 90%;
    }
    .header-inline-1 p {
        font-size: 16px;
    }
}
@media screen and (max-width: 500px) {
    .movie-header h4{
        font-size: 20px;
    }
    .bottom-header-inline{
        padding-right: 0;
        flex-direction: column;
        padding-bottom: 1rem;
    }
    .header-inline-1{
        width: 90%;
    }
    .header-inline-2{
        width: 70%;
    }
    .top-header-div-2{
        width: 50%;
    }
    .movie{
        width: 95%;
    }
    .movies-sort-block{
        margin: 0.5rem 5%;
    }
    .movie-left-parent{
        margin-right: 0.8rem;
    }
}
@media screen and (max-width: 450px){
    .movie-header h4 {
        font-size: 18px;
        margin: 0;
    }
    .movie-right{
        width: 60%;
    }
    .card{
        width: 300px;
        height: 500px;
    }
    .card-image img{
        width: 300px;
        height: 300px;
    }
    .card-image{
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width: 425px){
    .movie-right ul li{
        font-size: 14px;
    }
}